
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.logo{
  background-color: #c3b0dc;
  /* display: flex; */
  /* justify-content: center; */
  padding-top: 24px;

}
nav{
  width: 75%;
  max-width: 1200px;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h{
  color: white;
  /* gap:  10px 1181px 30px 200px; */
  /* border: 1px solid red; */
}
.color{
  color: rgb(197, 16, 218);
  /* gap: 30px 1181px 30px 200px; */
  /* border: 1px solid red; */
}
.menu{
  display: flex;
  font-size: 19px;
  color: white;
  gap: 32px;

}
.btn{
  background-color: aqua;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 19px;
  /* padding-left: 200px; */
}

