
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.logo{
  background-color: #1A0B2E;
  padding-top: 24px;
}
nav{
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h{
  color: white;
}
.color{
  color: #bb0b9b
}
.menu{
  display: flex;
  font-size: 19px;
  color: white;
  gap: 32px;

}
.btn{
  background-color: aqua;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 19px;
}

