
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  } */
.color{
  color: rgb(197, 16, 218);
}
.ling{
  display: flex;
  gap: 32px;
  border: 2px solid red;
  width: 100%;
  align-items: center;
}
.btn{
  background-color: aqua;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}